/* style the background and body */
body {
	background-color: #333333;
}

/* style the entry containers */
#entry-root {
	width: 100%;
}
.entry {
	width: 40%; /* of entry-root */
}

/* style the text*/
.entry-header {
	display: flex;
	justify-content: center;
}

.entry-header > h1 {
	color: rgba(255, 255, 255, 0.87);
}

/* Style for the form container */
.process-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style for form headings */
.process-form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Style for form labels */
.process-form-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
  font-weight: bold;
}

.process-form-container form {
	margin-right: 15px;
}

/* Style for form inputs */
.process-form-container input {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333333;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Style for the submit button */
.process-form-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.process-form-container button:hover {
  background-color: #0056b3;
}

.exit-buttons > * {
	margin-left: 12%;
	margin-right: 12%;
	/* display: flex; */
	/* justify-content: center; */
	/* separate the buttons horizontally only */
}

.entry-title {
	color: (0, 0, 0, 0.87);
	font-size: 3.2em;
}
